/*Colors
  Pink/Brown: #B38A88
  Salmon: #E6716A
  Grape: #806E7C
  Green: #738C56
  Light Green: #AEB388
*/

.footer {
  width: 100%;
  height: 27px;
  position: fixed;
  bottom: 0;
  background-color: white;
  align-self: center;
  text-align: center;
  margin: 0 auto;
  background-color: #FFFAE1;
}

.footer a{
  font-family: 'Open Sans', sans-serif !important;
}

body {
  background-color: #FFFAE1;
}

h1, #desciption {
  text-align: center;
  font-size: 65px;
  margin-bottom: 15px;
}

h1, h2 {
  font-family: 'Antiqua', cursive;
}

.categories li {
  font-family: 'Open Sans', sans-serif !important;
}

.character_box{
  display: flex;
  flex-direction: column;
  margin-bottom: 35px;
}

.picture_container{
  display: flex;
  flex-direction: row;
  height: 250px;
  justify-content: space-around;
  flex-wrap: wrap;
}

.character_box img{
  height : 100%;
}

.dialogue_box{
  display: flex;
  flex-direction: column;
  margin-bottom: 35px;
}

.dialogue_box .picture_container{
  flex-direction: column;
  height: auto;
}
.dialogue_box .picture_container img{
  width: 80%;
  margin: 20px auto ;
}

.text_box p {
    padding-left: 35px;
}

.text_box p strong{
  /*I need a different font for this, it looks too much like the headers.*/
  font-family: 'Indie Flower', cursive;
  font-size: 24px;
}

.page{
  display: flex;
  max-width: 900px;
  min-width: 625px;
  width: 90%;
  flex-direction: column;
  margin: 25px auto;
  padding:0;
  justify-content: flex-start;
}

.page p {
  font-family: 'Open Sans', sans-serif;
}

.bg-light{
  background-color: white !important;
}

.navbar {
  border-bottom-style: solid !important;
  border-bottom-color: black !important;
  border-width: thin !important;
}

.nav-link {
  font-family: 'Open Sans', sans-serif !important;
}

.text_box {
  width: 70%;
  margin: 15px;
  margin-right: 50px;

}

.info_box_container {
  display: flex;
  flex-direction: column;
  width: 30%;
  border-left-width: thin;
  border-left-color: black;
  border-left-style: solid;
}

.info_box {
  align-items: center;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  margin: 18px 0px;
  padding-left: 14px;
  max-width: 236px;
}

.info_box a{
  text-align: center;
  text-decoration: underline;
  color: black;
  font-family: Andale Mono,AndaleMono,monospace;
  margin: auto 0;
}

.info_box a:hover{
  text-decoration: none;
}

.info_box img{
  width: 100%;
}


.intro_header{
  /*This for the intro box before the pictures that will before the ranking.*/
}

/* RANKING ITEMS IN A GRID */
.rank_grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.rank_item {
  display: flex;
  flex-direction: column;
  min-width: 75px;
  max-width: 160px;
  min-height: 175px;
  justify-content: space-around;
  margin: 5px 5px;
}

.rank_item img{
  max-width: 147px;
  max-height: 210px;
  margin: 0;
  align-self: center;
}

.rank_item h1 {
    text-align: center;
    margin: 14px 0;
    font-size: 18px;
    font-weight: bold;
    word-wrap: normal;
}

.rank_item_ranking_container {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
}

.rank_item_ranking_container p{
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
}
.rank_item_ranking_description{
  width: 90%;
}

.rank_item_ranking_number{
  width: 10%;
}
.rank_item_ranking_description p{
  text-align: left;
}

.rank_item_ranking_number p{
  text-align: right;
}
